#logo{
    width: 200px;
    animation-name: logo;
    animation-duration: 2s;
    }
    
    @keyframes logo {
    from {width: 25px;}
    to {width: 200px;}
    from {opacity: 0;}
    to {opacity: 1;}
    } 


body img{
    width: 300px;
}

body{
    background-color: #ffffce;
    font-family: 'Montserrat';
}

h1{
    text-align: center;
    color:#6193eb;
}

header {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.nav_links{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav img{
    width: 50px;
}

nav a{
    color:#6193eb;
    font-size: 30px;
}

nav a:hover{
    color:blue;
}



.foodgallery{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;



}

.foodgallery img{
    width: 50%;
    margin: auto;
}

.DrinkGallery img{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: column;


}

@media screen and (min-width: 500px){
    

}



@media screen and (min-width: 700px){

}


